MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=your-email@gmail.com
MAIL_PASSWORD=your-app-password  #пароль з "Паролі додатків" в Google
#я не залишала тут свої дані, тому навела приклад, як ввести необіхідні